In [49]:
from __future__ import division
import pandas as pd
import numpy as np

churn_df = pd.read_csv('Data/data.csv')
col_names = churn_df.columns.tolist()

print("Column names:")
print(col_names)

to_show = col_names[:6] + col_names[-6:]

print("\nSample data:")
churn_df[:].head(6)

Column names:
['id', 'days_since_signup', 'days_since_job_created', 'days_since_client_created', 'days_since_invoice_created', 'days_since_quote_created', 'country', 'industry', 'industry_category', 'added_user_count', 'accepted_added_user_count', 'job_count', 'client_count', 'invoice_count', 'quote_count', 'call_count', 'chat_count', 'demo_count', 'interaction_count', 'activity_count', 'note_count', 'last_nps_score', 'last_activity_type', 'days_since_activity_event', 'custom_field_count', 'property_custom_field_count', 'percent_added_users_accepted', 'job_count_over_client_count', 'job_count_over_invoice_count', 'job_count_over_quote_count', 'client_count_over_job_count', 'client_count_over_invoice_count', 'client_count_over_quote_count', 'invoice_count_over_job_count', 'invoice_count_over_client_count', 'invoice_count_over_quote_count', 'quote_count_over_job_count', 'quote_count_over_client_count', 'quote_count_over_invoice_count', 'account_value', 'plan_code', 'annual_plan', 'renewed', 'year', 'month']

Sample data:

,id,days_since_signup,days_since_job_created,days_since_client_created,days_since_invoice_created,days_since_quote_created,country,industry,industry_category,added_user_count,...,invoice_count_over_quote_count,quote_count_over_job_count,quote_count_over_client_count,quote_count_over_invoice_count,account_value,plan_code,annual_plan,renewed,year,month
0,318,95,31.0,68.0,29.0,NaN,United States,Lawn Care & Lawn Maintenance,Green Industry,2,...,0.000,0.000,0.000,0.000,53.0,jobber_basic_subscription_39,False,False,2015,8
1,319,91,NaN,25.0,29.0,NaN,United States,Lawn Care & Lawn Maintenance,Green Industry,5,...,0.000,0.000,0.000,0.000,62.0,jobber_basic_subscription_39,False,False,2015,8
2,320,184,121.0,121.0,NaN,NaN,United States,Lawn Care & Lawn Maintenance,Green Industry,2,...,0.000,0.000,0.000,0.000,48.0,jobber_basic_subscription_39,False,False,2015,8
3,321,407,1.0,1.0,1.0,1.0,United States,Construction & Contracting,Trade,4,...,0.590,1.258,0.765,1.696,71.0,jobber_basic_subscription_39,False,True,2015,8
4,322,501,1.0,3.0,3.0,3.0,United States,Mechanical Service,Trade,0,...,16.874,0.154,0.375,0.059,57.0,jobber_basic_subscription_39,False,True,2015,8
5,323,519,37.0,37.0,37.0,NaN,United States,Pest Control,Other,13,...,0.000,0.000,0.000,0.000,57.0,jobber_basic_subscription_39,False,False,2015,8

In [50]:
# Isolate target data
churn_result = churn_df['renewed']
y = churn_result.astype(int)
print(y)

# Drop the result from training data 
to_drop = ['renewed']
churn_df = churn_df.drop(to_drop,axis=1)

# Convert other T/F data to 1/0
yes_no_cols = ["annual_plan"]
churn_df[yes_no_cols] = churn_df[yes_no_cols].astype(int)

# Extract Features 
features = churn_df.columns

0       0
1       0
2       0
3       1
4       1
5       0
6       1
7       0
8       0
9       1
10      1
11      1
12      0
13      1
14      1
15      0
16      1
17      0
18      1
19      0
20      0
21      1
22      1
23      0
24      0
25      1
26      0
27      0
28      0
29      0
       ..
2158    1
2159    1
2160    1
2161    0
2162    0
2163    0
2164    0
2165    0
2166    0
2167    0
2168    0
2169    0
2170    0
2171    0
2172    0
2173    0
2174    0
2175    0
2176    0
2177    0
2178    1
2179    0
2180    0
2181    0
2182    0
2183    1
2184    0
2185    1
2186    1
2187    0
Name: renewed, dtype: int64

In [51]:
country2int = dict(enumerate(set(churn_df['country'])))
industry2int = dict(enumerate(set(churn_df['industry'])))
category2int = dict(enumerate(set(churn_df['industry_category'])))
plancode2int = dict(enumerate(set(churn_df['plan_code'])))

int2country = {v: k for k, v in country2int.items()}
int2industry = {v: k for k, v in industry2int.items()}
int2category = {v: k for k, v in category2int.items()}
int2plancode = {v: k for k, v in plancode2int.items()}

churn_df['country'] = [int2country[i] for i in churn_df['country']]
churn_df['industry'] = [int2industry[i] for i in churn_df['industry']]
churn_df['industry_category'] = [int2category[i] for i in churn_df['industry_category']]
churn_df['plan_code'] = [int2plancode[i] for i in churn_df['plan_code']]

churn_df[:].head(6)

,id,days_since_signup,days_since_job_created,days_since_client_created,days_since_invoice_created,days_since_quote_created,country,industry,industry_category,added_user_count,...,invoice_count_over_client_count,invoice_count_over_quote_count,quote_count_over_job_count,quote_count_over_client_count,quote_count_over_invoice_count,account_value,plan_code,annual_plan,year,month
0,318,95,31.0,68.0,29.0,NaN,0,29,4,2,...,2.692,0.000,0.000,0.000,0.000,53.0,4,0,2015,8
1,319,91,NaN,25.0,29.0,NaN,0,29,4,5,...,0.006,0.000,0.000,0.000,0.000,62.0,4,0,2015,8
2,320,184,121.0,121.0,NaN,NaN,0,29,4,2,...,0.000,0.000,0.000,0.000,0.000,48.0,4,0,2015,8
3,321,407,1.0,1.0,1.0,1.0,0,27,5,4,...,0.451,0.590,1.258,0.765,1.696,71.0,4,0,2015,8
4,322,501,1.0,3.0,3.0,3.0,0,28,5,0,...,6.336,16.874,0.154,0.375,0.059,57.0,4,0,2015,8
5,323,519,37.0,37.0,37.0,NaN,0,21,1,13,...,0.003,0.000,0.000,0.000,0.000,57.0,4,0,2015,8

In [46]:
#Convert data to np array 
X = churn_df.as_matrix().astype(np.float)
print(X)

[[  3.18000000e+02   9.50000000e+01   3.10000000e+01 ...,   0.00000000e+00
    2.01500000e+03   8.00000000e+00]
 [  3.19000000e+02   9.10000000e+01              nan ...,   0.00000000e+00
    2.01500000e+03   8.00000000e+00]
 [  3.20000000e+02   1.84000000e+02   1.21000000e+02 ...,   0.00000000e+00
    2.01500000e+03   8.00000000e+00]
 ...,
 [  1.88100000e+03   5.29000000e+02   5.00000000e+00 ...,   1.00000000e+00
    2.01600000e+03   5.00000000e+00]
 [  1.88200000e+03   4.20000000e+01   1.00000000e+00 ...,   1.00000000e+00
    2.01600000e+03   5.00000000e+00]
 [  1.88300000e+03   1.03000000e+02   2.80000000e+01 ...,   0.00000000e+00
    2.01600000e+03   5.00000000e+00]]

In [48]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

print("Feature space holds %d observations and %d features" % X.shape)
print("Unique target labels:", np.unique(y))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').